.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: teal;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: white;
  background-color: teal;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: coral;
  color: white;
  transition: top 0.5s;
}

.banner--hidden {
  top: -40px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}
